<nav>
    <div class="flex">
        <h2 style="margin-right: 10%; margin-top: 1%;">sneakers</h2>
        <a class="nav-link">Collections</a>
        <a class="nav-link">Men</a>
        <a class="nav-link">Women</a>
        <a class="nav-link">About</a>
        <a class="nav-link">Contact</a>

        <div class=" flex" style="margin-left: auto; margin-top: 1%;">
            <div style="margin-right: 10px; margin-top: 5px;"><button style="background: transparent; border-color: transparent;"><img src="assets/icon-cart.svg"></button></div>
            <div>
                <img style=" margin-right: auto;" src="assets/image-avatar.png" alt="" width="45"
                    height="45">
            </div>
        </div>

    </div>
</nav>