.cel {
    margin-top: 15px;
    width: 120px;
    height: 40px;
    border-radius: 2px;
    background-color:  hsl(223, 64%, 98%);
   
}
.flex{
    display: flex;
}

.center{
 align-items: center;
}
.button-orangek{
    background-color: hsl(26, 100%, 55%);
    color: hsl(0, 0%, 100%);
    height: 40px;
    margin-top: 15px;
    margin-left: 10px;
    /* background-image: none; */
    
}