<hr style="margin-top: 3%;">
<div class="flex">
    <div  style="margin-top: 5%; margin-left: 5%;">
        <img src={{image_detail}} alt="" width="360px" height="360px" style="border-radius: 1em;">
        <div class="flex" style="margin-top: 5%;">
            <img src="assets/image-product-1-thumbnail.jpg" alt="" class="image-mini" [ngStyle]="img1" (click)="change_image('1')"> 
            <img src="assets/image-product-2-thumbnail.jpg" alt=""  class="image-mini" [ngStyle]="img2"  (click)="change_image('2')"> 
            <img src="assets/image-product-3-thumbnail.jpg" alt=""  class="image-mini" [ngStyle]="img3" (click)="change_image('3')"> 
            <img src="assets/image-product-4-thumbnail.jpg" alt="" class="image-mini" [ngStyle]="img4" (click)="change_image('4')">  
        </div>
    </div>
    <span style="margin-left: 5%; margin-right:5%"></span>
    <div  style="margin-top: 10%; margin-right: 10%;">
        <h5 style="color: hsl(26, 100%, 55%);">Sneaker Company</h5>

        <h2>Fall Limited Edition Sneakers</h2>

        <p>
            These low-profile sneakers are your perfect casual wear companion. Featuring a
            durable rubber outer sole, they’ll withstand everything the weather can offer.
        </p>
        <div class="flex">
            <div >
                <h4> $125.00</h4>
            </div>
            <p style="color: hsl(26, 100%, 55%); background-color:hsl(25, 100%, 94%); margin-left: 5%; margin-top: 1%;" >50%</p>

        </div>
        <s>$250.00</s>
        <div class="flex " >

            <div class="flex cel" style="border-radius: 10px;">
                <div (click)="modificar_cart('2')"style="margin-bottom:auto; margin-top:auto; margin-left: 6px; cursor: pointer;  ">
                    <img src="assets/icon-minus.svg" 
                        width="15px" >
                </div>
                <strong style="margin-left: auto; margin-right: auto; margin-top: auto; margin-bottom: auto;">
                    {{cant}}
                </strong>

                <div (click)="modificar_cart('1')" style=" cursor: pointer; margin-top: auto; margin-bottom: auto;">
                    <img src="assets/icon-plus.svg" style="margin-right: 10px;" >
                </div>

            </div>
            <!-- margin-right: 30px;margin-left: 30px; -->
            <button class="button-orangek btn" (click)="add_cart()"><img src="assets/icon-cart.svg" style="margin-right: 6px;"> Add to cart</button>

        </div>
        

    </div>
